.logo {
	border: 2px solid transparent;
	border-radius: 6px;
	transition: all 0.3s;
	display: block;

	&:focus {
		border: 2px solid $orange-900;
	}

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.5;
	}
}
